.container {
  padding: 1rem;
}
.containerInner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 100 vh; */
}

.text {
  margin-bottom: 1rem;
}
.subTitle {
  font-weight: 500;
}
.title {
  margin-bottom: 2rem;
}
.flafImg {
  width: 200px;
}
.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardWrp {
  margin-top: 3rem;
  border: 1px solid gray;
  padding: 1rem;

  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px #6d035f1f, 0 0 5px #7228790f, 0 0 8px #00000029;
}
